
<h1>Application Development using Angular</h1>
<hr/>

<!-- Angular Expression  or Interpolation -->
 <h1>Welcome {{EmployeeName}}</h1>

<div>
    <h1> Table Example</h1>
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Empoyee Job</th>
                <th>Employee Salary</th>
                <th>Employee Depo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ EmployeeId }}</th>
                <td>{{ EmployeeName}}</td>
                <td>{{ EmployeeJob }}</td>
                <td>{{EmployeeSalary}}</td>
                <td>{{EmployeeDepo}}</td>
               
                
            </tr>
        </tbody>
    </table>
</div>`
