<h1>Contact Details</h1>
<hr/>
<div class="row">
  
  <div class="column">
      <div  class="card">
  
          <div class="container" >
              <p>    <img height="350" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLnuAUlNHrSLel9h8vzqcr0zfxdV3h_K8FXeqKOopjTaB99jYFzkwOVhMvEyKdnGxGAA&usqp=CAU" /></p>
           
             <p><b> Contact Details : {{ContactNo}}</b></p>
             <p><b>Email :{{Email}}</b></p>
            <p><b>Website: {{Website}}</b></p> 
           
          </div>
        </div>
   </div>
</div>
